* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: blanchedalmond;
    padding: 20px;
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

button {
    outline: none;
    border: none;
    font-family: inherit;
    padding: 10px 20px;
    background-color: #f1f1f1;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #6b6969;
}

input {
    outline: none;
    border: none;
    font-family: inherit;
    padding: 10px 20px;
    background-color: #f1f1f1;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.calendar-section, .task-section {
    width: 48%;
}

.calendar {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.calendar-body {
    display: flex;
    flex-direction: column;
}

.day-names {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.day-names div {
    width: 14.28%;
    text-align: center;
    font-weight: bold;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days div {
    width: 14.28%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.days div:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.days .other-month {
    color: #bbb;
}

.days .current-day {
    background-color: lightblue;
    border-radius: 4px;
}

.task-section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 25px;
    margin: 5px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding-left: 10px;
    padding-top: 3px;
    animation: animateIn 0.3s ease;
}

.task-item .trash-icon {
    cursor: pointer;
    color: red;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.completed {
    background-color: greenyellow;
}
